# Ignore all
*

# Except GitHub
!/.github
!/.github/**

# Except Git
!.gitignore
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!LICENSE
!README.md
!SECURITY.md
!pull_request_template.md

# Except Fraus
!/fraus
!/fraus/**
