# Ignore all
*

# Except GitHub
!/.github
!/.github/**

# Except Git
!.gitignore
!LICENSE.md
!README.md

# Except Fraus
!/fraus
!/fraus/**

# Except demo
!/demo
!/demo/**

# Except Pages
!/pages
!/pages/**
