# Ignore all
*

# Except Git
!.gitignore
!LICENSE.md
!README.md

# Except GitHub
!/.github
!/.github/**

# Except Fraus
!/fraus
!/fraus/**

# Except demo
!/demo
!/demo/**
/demo/assets

# Except tests
!/tests
!/tests/**

# Except CMake
!/CMakeLists.txt

# Except Pages
!/pages
!/pages/**
